:root {
  --sidebar-color: #0ea5e9;
 
  --sidebar-primary-gap: 3.2rem;
  --sidebar-secondary-gap: 1.2rem;

  --sidebar-padding: 1.2rem;
  --sidebar-logo-fs: 2.4rem;
  --sidebar-link-fs: 1.8rem;


  --search-bg-color: #cbd5e1;
  --search-btn-color: #0ea5e9;

  --search-primary-fs: 2.4rem;
  --search-secondary-fs: 1.6rem;
  --search-tertiary-fs: 1.2rem;

  --search-primary-fw: 600;
  --search-padding: 1.2rem 2.8rem;
  --search-primary-gap: 2.6rem;
  --search-btn-padding: 0.8rem 2.4rem;
  --search-btn-gap: 1.6rem;


  --main-bg-clr: #cbd5e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* --------------REUSABLE CLASSES-------------------- */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.secondary-gap {
  gap: var(--sidebar-secondary-gap)
}
 
.grid {
  display: grid;
}

/* --------------MAIN CONTAINER-------------------- */
.main-container {
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

/* --------------SIDEBAR-------------------- */
.sidebar {
  background-color: var(--sidebar-color);
  gap: var(--sidebar-primary-gap);
  padding: var(--sidebar-padding);
  grid-row: 1 / 3;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.dashboard {
  font-size: var(--sidebar-logo-fs);
}

.dashboard-button {
  font-size: var(--sidebar-link-fs);
}

/* --------------SEARCH-------------------- */
.search {
  padding: var(--search-padding);
  gap: var(--search-primary-gap);
}

.above-div {
  align-items: flex-start;
  gap: 2.4rem;
}

.search-input {
  background-color: var(--search-bg-color);
  border: none;
/*   align-self: stretch; */
}

.text {
  font-size: var(--search-tertiary-fs);
  font-weight: var(--search-primary-fw);
}

.nickname {
  font-size: var(--search-primary-fs);
  font-weight: var(--search-primary-fw);
}

.right-div {
  gap: var(--search-btn-gap);
}

.search-button {
  text-decoration: none;
  background-color: var(--search-btn-color);
  color: white;
  font-size: var(--search-secondary-fs);
  font-weight: var(--search-primary-fw);
  padding: var(--search-btn-padding);
  border-radius: 20px;
}

/* --------------PROJECTS GRID-------------------- */
.main {
  background-color: var(--main-bg-clr);
  align-self: start;
  min-height: 100vh;
}

.container {
  grid-template-columns: repeat(5, 1fr);
}

.projects-grid {
  grid-column: 1 / span 4
}

.projects-div {
  grid-template-columns: repeat(2, 1fr);
}

.main-trending-div {
  grid-column: 5 / 6
}